@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}

body{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color:rgb(231, 231, 231) ;
}

.container{
    position: relative;
    background-color: #e7e7e7;
    /*min-height: 500px;*/
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(201, 201, 201),
    10px 10px 70px rgba(201, 201, 201, 0.95),
    inset 5px 5px 10px rgba(201, 201, 201, 0.75),
    inset 5px 5px 20px rgba(201, 201, 201, 0.73),
    inset -5px -5px 15px rgba(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #e7e7e7;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(201, 201, 201, 0.95),
    inset 5px 5px 10px rgba(201, 201, 201, 0.75),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #e7e7e7;
    border: 3px solid black;
    border-radius: 50%;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: black;
    text-align: center;
    transform: rotate(calc(30deg * var(--i))) ;
}

.clock span strong{
    font-size: 32px;
    opacity: 0.5;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i))) ;
}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(201, 201, 201, 0.95);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle2{
    width: 240px;
    height: 240px;
}

.circle3{
    width: 180px;
    height: 180px;
}

.circle em{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scale(0.5);
}

.circle:nth-child(1) i{
    width: 2px;
}

.circle:nth-child(2) i{
    width: 6px;
}
.circle2{
    width: 240px;
    height: 240px;
    
}

.circle3{
    width: 180px;
    height: 180px;
}

.circle::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -8.5px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr)
    
}

#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size:2em ;
    font-weight: 600;
    border: 2px solid rgba(201, 201, 201, 0.75);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(201, 201, 201, 0.75),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(201, 201, 201, 0.95)
}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    opacity: 0.6;
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ' : ';
    position: absolute;
    right: -4px;
}

#time div:last-child{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite
}

@keyframes animate{
    0%{
        opacity: 1;
    } 
    50%{
        opacity: 0;
    }
}


